@use 'src/styles/vars';
@import url(https://fonts.bunny.net/css?family=allan:400,700);

.HeaderInscription {
  width: 90%; 
  height: 47vh; 
  margin-top: 3vh;
  line-height: 100px; 
  text-align: center;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-h1 {
    color: vars.$color1;
    text-shadow: 5px 5px 5px black;
    animation: 3s slidein;
    font-family: 'Allan', display;
    font-weight: 700;
    font-size: 5.5rem;
    margin-bottom: 1rem;
  }

}


@keyframes slidein {
  from { transform: scaleX(0); }
  to   { transform: scaleX(1); }
}

@keyframes italic {
  from {font-style: normal;}
  to {font-style: italic;}
}
