@use 'src/styles/vars';

.EndModal {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 100%;
  z-index: 1;
  text-align: center;
  vertical-align: middle;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 5px 5px 5px black,
  -5px -5px 5px black;
  background-color: vars.$color1;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-head {
    font-weight: bold;
    font-style: italic;
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  &-text {
    font-style: italic;
    margin: 2rem 0;
    color: white;

  }

  &-button {
    margin: 1rem 0;
    color: white;
    padding: .2rem;
    font-weight: bold;
    font-style: italic;
    width: 75%;
    font-size: 18px;
    border-radius: 0.5em;
    background: vars.$color2;
    border: 1px solid vars.$color2;
    transition: all .3s;
    box-shadow: 6px 6px 12px vars.$color3,
                -6px -6px 12px vars.$color2;
   }
  
  &-button:hover, &-button:active {
  color: black;
  box-shadow: inset 4px 4px 12px vars.$color1,
              inset -4px -4px 12px vars.$color2;
  }
}
