@use 'src/styles/vars';

.HeaderInscriptionInfo {
  text-align: center;
  box-shadow: .5em .2em .2em black;
  color: vars.$color1;
  width: 80%;
  line-height: normal;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 50px;
  background: #83ee99;
  box-shadow:  20px 20px 60px black,
             -5px -5px 30px vars.$color4;
  margin-bottom: 3rem;

  &-h3 {
    font-weight: bold;
    font-style: italic;
    margin-bottom: .4rem;
  }

  &-text {
    margin-bottom: 1rem;
  }
}
