@use 'src/styles/vars';


.App{
  position: relative;
  padding: 0;
  background-color: vars.$color3;
  width: 100%;
  margin-top: .5rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

