@use 'src/styles/vars';
@import url(https://fonts.bunny.net/css?family=allan:400,700);

.Header {
  padding: 0.5rem;
  width: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &-h1 {
    font-family: 'Allan', display;
    font-weight: 700;
    font-size: 5.5rem;
    margin-top: .2rem;
    margin-bottom: 1rem;
    color: vars.$color1;
    text-shadow: 5px 5px 5px black;
  }

  &-col {
  background: vars.$color3;
  border-radius: 20px;
  box-shadow:  10px 10px 32px #48a67a,
               -10px -10px 32px #6af4b4;
  padding: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 .5rem;
  width: 100%;
  }

  &-players {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  &-points {
    color: white;
    text-shadow: 1px 2px 2px black;
    font-size: 1.3rem;
    margin-bottom: .5rem;
  }

  &-pseudo {
  font-weight: bold;
  font-style: italic;
  color: vars.$color2;
  text-shadow: 2px 3px 2px  white;
  margin-bottom: .5rem;
  font-size: 2rem;
}

  &-time {
  background-color: #ff6961;
  box-shadow: 5px 5px 5px red;
  border-radius: 5px;
  padding: .3rem;
  margin-bottom: .5rem;

  &-count {
    font-weight: bold;
    text-shadow: 1px 1px 1px white;
    font-style: italic;
  }

   }
}

@media screen and (min-width: 768px) {
  .Header-time {
    padding: .3rem 5rem;
  }
}
