@use 'src/styles/vars';

.Question {
  margin-bottom: .5rem;
  height: 30vh;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-button {
    margin-top: 1rem;
    color: vars.$color5;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: vars.$color2;
    border: 1px solid vars.$color2;
    transition: all .3s;
    box-shadow: 6px 6px 12px vars.$color3,
                -6px -6px 12px vars.$color2;
   }
  


&-button:hover, &-button:active {
 color: black;
 box-shadow: inset 4px 4px 12px vars.$color1,
             inset -4px -4px 12px vars.$color2;
}
  &-text {
    font-size: 2rem;
  }

}
