@use 'src/styles/vars';

.QuestionReady {
  height: 20vh;
  width: 90%;
  margin: .2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 17px;
  background: linear-gradient(145deg, #50b988, #5fdba2);
  box-shadow:  13px 13px 17px #51bb89,
             -13px -13px 17px #61dfa5;

  &-title {
    color: vars.$color1;
    background-color: white;
    padding: 1rem;
    font-weight: bold;
    font-style: italic;
    border-radius: 2px;
    box-shadow: 5px 5px 15px rgb(102, 100, 100);
    margin-bottom: 2rem;
  }

  &-text {
    font-style: italic;
    font-weight: bold;
    padding: .2em;
  }

}
